.jumbotron-mod {
    background-image: url("images/bg2.jpg");
    text-align: center;
    color: white;
}

.photo-mod {
    text-align: center;
}
.centro {
    text-align: center;
}
.thumbnail {
    border: 7px solid #ddd;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0px;
}
.border-ph {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}